[nosetests]
verbosity=1
detailed-errors=1
with-xunit= 1
with-coverage=1

# Folder for coverage
cover-package=words_n_fun

# inclure tous les fichiers python
# FIXME : Certains fichiers restent exclus du rapport de coverage
cover-inclusive=1

#effacer les rapports générés précédement
cover-erase=1

#générer le fichier html
cover-html= 1
cover-html-dir= output_coverage_tests/cover

#le minimum de pourcentage de couverture défini par utilisateur
cover-min-percentage=80
